*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #DDFFBB;
    
    height:100%;
    width:100%;
    padding-top: 45vh;
    padding-right: 20px;

    justify-content: center;
    align-items: center;
    
}

h3{
    background-color: #202020;
    background-size: 0px;
    font-family: sans-serif;
    color: white;
    height:3.8vh;
    width:19vw;
    margin-left: 510px;
    justify-content: center;
    align-items: center;
}
button{
    background-color: red;
    width:7vw;
    height:29px;
    color:white;
    margin-left: 590px;
    font-size: 1.2em;
    
    
}