*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #FF0303;
    
    height:100%;
    width:100%;
    padding-top: 45vh;
    padding-right: 20px;

    justify-content: center;
    align-items: center;
    
}

h3{
    background-color: #202020;
    background-size: 0px;
    font-family: sans-serif;
    font-size: 1.3em;
    color: white;
    height:3.7vh;
    width:20vw;
    margin-left: 510px;
    justify-content: center;
    align-items: center;
}
button{
    background-color:transparent;
    width:9vw;
    height:45px;
    color:white;
    margin-top: 2vh;
    margin-left: 580px;
    font-size: 1.2em;
    word-spacing: 1px;
    border-radius: 4px;
    
    
    
}
button:hover{
    transition: scale(0.5);
    cursor: pointer;
}