*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height:100vh;
    background: green;
    display: grid;
    place-items: center;
}
.container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.text{
    font-size: 15px;
    padding: 2px 10px;
    background: #202020;
    color: white;
    border-radius: 5px;
}
#change{
    border-bottom: 0;
}
.btn{
    background: transparent;
    margin-top: 3vh;
    padding: 10px 25px;
    
    font-size: 20px;
    border-radius: 5px;
    text-transform: capitalize;
}
.btn:hover{
    background: transparent;
    color:black;
}